extends layout

block content
  H1 Search results for #{artist} :
  form(action="/download", method="get")
    p Download CSV
    input(name='fileName', value=fileName, type='submit')
  p Search results as text:
  | #{results}
